.wrapper {
  width: 96%;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 90px;
  background-color: transparent;
  position: fixed;
  top: 0;
  z-index: 2;
  transition: all 100ms ease-in;
}
.header.scrolled {
  background-color: #fff;
  box-shadow: 5px 2px 8px #ccc;
}
.header.scrolled .nav ul li a {
  color: #04202F;
}
.header.scrolled .header__quote {
  color: #04202F;
}
.header.scrolled .header__logo1 {
  display: none;
}
.header.scrolled .header__logo2 {
  display: block;
}
.header__quote {
  border: 2px solid #81C03D;
  border-radius: 50px;
  padding: 5px 15px;
  color: #fff;
}
.header__logo {
  width: 140px;
  height: auto;
}
.header__logo2 {
  display: none;
}
.header__menu {
  display: none;
}

.nav ul {
  display: flex;
  gap: 30px;
}
.nav ul li {
  list-style-type: none;
}
.nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 15px 6px;
  font-weight: 700;
  transition: all 50ms ease-in;
}
.nav ul li a:hover {
  border-bottom: 5px solid #81C03D;
}
.nav ul li a.active {
  border-bottom: 5px solid #81C03D;
}
.nav__close {
  display: none;
}

.banner {
  width: 86%;
  height: fit-content;
  position: absolute;
  margin: 0 auto;
  top: 5rem;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
}
.banner__h1, .banner__section h1 {
  font-size: 70px;
  color: #fff;
  line-height: 92px;
  font-weight: 700;
  width: 80%;
}
.banner__p, .banner__section p {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
}
.banner__btn, .about__btn, .banner__section a {
  background-color: #fff;
  border-radius: 50px;
  width: fit-content;
  padding: 10px 20px;
  font-weight: 700;
  border: 2px solid #81C03D;
}
.banner__section {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 75vh;
  padding-top: 5rem;
}
.banner__section.company {
  background-image: url("../images/banner2.jpg");
}
.banner__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 86%;
  margin: 0 auto;
  position: relative;
  top: 6rem;
}

.about__h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 20px;
  width: fit-content;
}
.about__h3 {
  font-size: 24px;
  font-weight: 600;
  color: #81C03D;
}
.about__services {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 3rem 0;
  width: 50%;
  margin: 0 auto;
}
.about__services img {
  width: 100px;
  height: auto;
}
.about__servicesbox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100px;
  text-align: center;
}
.about__servicesbox img {
  height: 65px;
  padding: 8px;
  border-radius: 8px;
  background-color: #F9F8F8;
}
.about__servicesbox p {
  white-space: nowrap;
  font-weight: 600;
}
.about__expertise {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 8px;
  padding: 20px 15px;
  background-color: #fff;
  color: #08415F;
  box-shadow: 0 4px 4px rgba(129, 192, 61, 0.5);
  fill: #81C03D;
}
.about__expertise:hover {
  background-color: #81C03D;
  color: #fff;
  box-shadow: none;
}
.about__expertise:hover svg {
  fill: #fff;
}
.about__expertise:hover .about__expertise--blackbrd {
  border-top-color: #fff;
}
.about__expertise:hover .about__expertise--arrow {
  background-color: #fff;
}
.about__expertise:hover .about__expertise--greenicon {
  display: none;
}
.about__expertise:hover .about__expertise--whiteicon {
  display: block;
}
.about__expertise--icon {
  width: 80px;
  height: auto;
}
.about__expertise--btnsec {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem 0 0 0;
}
.about__expertise--whitebrd {
  border-top: 2px solid #fff;
}
.about__expertise--blackbrd {
  border-top: 2px solid #08415F;
}
.about__expertise h3 {
  font-size: 17px;
  font-weight: 600;
}
.about__expertise p {
  line-height: 28px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.about__expertise--arrow {
  background-color: #81C03D;
  border-radius: 50%;
  padding: 5px;
}
.about__expertise--whiteicon {
  display: none;
}
.about__expertise--iconsec img {
  width: 80px;
  height: auto;
}
.about__readbtn {
  border-radius: 50px;
  padding: 0 0 0 10px;
  display: flex;
  gap: 10px;
}
.about__readbtn--whitebg {
  background-color: #fff;
  border: 1px solid #81C03D;
  color: #000;
}
.about__readbtn--transparent {
  border: 1px solid #81C03D;
}
.about__footer {
  background-color: #0B5379;
  padding: 2rem;
  display: flex;
  justify-content: flex-start;
  gap: 12rem;
  color: #fff;
}
.about__footer h2 {
  font-weight: 600;
  font-size: 18px;
}
.about__footer ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.about__footer ul li {
  list-style-type: none;
}
.about__footer ul li a {
  text-decoration: none;
}
.about__line {
  width: 65%;
  height: 5px;
  background-color: #81C03D;
  display: inline-block;
  border-radius: 50px;
}
.about__activities {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 75px 0 40px 0;
}
.about__activities--content {
  display: flex;
  flex-direction: column;
  border: 1px solid #F0F0F0;
  padding: 10px;
  gap: 1rem;
}
.about__activities--content p {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.45);
}
.about__activities--title {
  min-height: 45px;
}
.about__clients {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 88%;
  margin: 0 auto;
}
.about__clients img {
  width: 120px !important;
  height: auto;
}
.about__arrow {
  width: 50px;
  height: auto;
}

.swiper-container {
  height: 100vh;
  background-color: rgba(4, 32, 47, 0.6);
}
.swiper-container .swiper-slide img {
  width: 100% !important;
  visibility: visible;
  height: 100vh;
}
.swiper-container img.slider-img {
  display: none;
}
.swiper-container .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background: #fff;
  opacity: 1;
}
.swiper-container .swiper-pagination-bullet-active {
  background: #007aff;
}
.swiper-container .swiper-slide::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(4, 32, 47, 0.4);
}

.card_slider {
  background-color: #d00869;
  padding: 3rem;
}

.slick-track {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}

.slick-track .slick-slide {
  width: fit-content !important;
}

/* Style the tab */
.tab {
  display: flex;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #D7D7D7;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 5px;
  width: 100%;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  border-bottom: 1px solid transparent;
}

/* Change background color of buttons on hover */
.tab button:hover {
  border-bottom: 1px solid #2F5FB9;
}

/* Create an active/current "tab button" class */
.tab button.active {
  border-bottom: 1px solid #2F5FB9;
  color: #2F5FB9;
  font-weight: 600;
}

/* Style the tab content */
.tabcontent {
  padding: 0 12px 12px 12px;
  width: 100%;
  border: none;
  height: fit-content;
  display: none;
  line-height: 28px;
}
.tabcontent.active {
  display: block;
}
.tabcontent ol li {
  list-style-type: lower-alpha;
  list-style-position: inside;
  text-indent: 2rem;
}
.tabcontent img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.contact__form {
  width: 78%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #e2e2e2;
  border-radius: 6px;
  padding: 1rem;
}
.contact__form input {
  padding: 8px 5px;
}
.contact__form textarea {
  padding: 8px 5px;
}
.contact__formbtn {
  background-color: #81C03D;
  border-radius: 6px;
  width: fit-content;
  padding: 8px;
}

.industries__card {
  display: flex;
  flex-direction: column;
  border: 1px solid #F0F0F0;
  padding: 8px;
  gap: 1rem;
}
.industries__card h3 {
  font-size: 20px;
  font-weight: 600;
}

.activity-slider {
  overflow: hidden;
  gap: 1%;
}
.activity-slider .card {
  width: 24%;
  flex: 1;
}
.activity-slider .card img {
  height: 150px;
  width: 100%;
}
.activity-slider .slick-track {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  align-items: flex-start;
}

@media (max-width: 767px) {
  .banner {
    width: 74%;
  }
  .banner__h1, .banner__section h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .swiper-container {
    height: 97vh;
  }
  .swiper-container .swiper-slide img.slider-img {
    object-fit: cover;
    display: block;
  }
  .swiper-container .swiper-slide video {
    display: none;
  }
  .banner__content {
    width: 84%;
  }
  .banner__section {
    height: 35vh;
  }
  .wrapper {
    width: 88%;
  }
  .nav {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100vh;
  }
  .nav.show {
    display: block;
  }
  .nav.hide {
    display: none;
  }
  .nav ul {
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    height: 100vh;
    align-items: center;
    padding-top: 2rem;
  }
  .nav ul li a {
    color: #000;
    padding: 10px 6px;
  }
  .nav__close {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
    display: block;
  }
  .nav__close i {
    color: #81C03D;
    font-size: 25px;
  }
  .header__quote {
    display: none;
  }
  .header__menu {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .header__hamburgermenu {
    font-size: 25px;
    color: #fff;
  }
  .header.scrolled .header__hamburgermenu {
    color: #81C03D;
  }
  .about__services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: fit-content;
  }
  .about__arrow {
    display: none;
  }
  .about__h2 {
    font-size: 26px;
  }
  .tab {
    flex-direction: column;
  }
  .contact__form {
    width: 100%;
  }
}